/* bootstrap override below */

.row {
    margin: 0 auto;
}

/* MAIN */

* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box;
}

body {
    width:100vw;
    height:100vh;
    font-family: 'Lato';
    margin:0 auto;
    padding:0;
    background-color: black;
    position: relative;
}

p {
    color: rgb(163, 153, 165);
    font-size: 16px;
    line-height: 1.5em;
}

.wrapper {
    width:100%;
    height:100%;
    background: url("http://www.chamberscreekfoundation.org/files/library/8f255fa1b87acf49_ih.jpg") no-repeat fixed;
    background-size: cover;
}

/* Landing and overarching */
.landing {
    width:1140px;
    height:100%;
    position: relative;
}

#maintitle {
    color:white;
    font-size:45px;
    text-transform: uppercase;
    position: absolute;
    bottom:50px;
    right:0px;
}

.fade-overlay {
    position:absolute;
    width:100vw;
    height:250px;
    bottom:0;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax */;
    background: rgba(0,0,0,0.8);
}

.content {
    width:100vw;
    height:400vh;
    margin: 0 auto;
    position:relative;
    background-color: rgb(189, 189, 189);
    /*background: -webkit-linear-gradient(#040405, #A4724D); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#040405, #A4724D); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#040405, #A4724D); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#272525, #342B35); /* Standard syntax */;*/
}

.header-cont {
    position:absolute;
    width: 100%;
    background: rgba(29, 27, 26, 1);
    z-index:10;
    height: 100px;
}

.header-cont.enter-content {
    position:fixed;
    top:0;
}

.header {
    float:right;
    margin: 32px 100px 0px 0px;
}

.header span.nav {
    float:right;
    margin-right:30px;
    color:white;
    opacity:0.1;

    font-family:'Montserrat';
    font-size:30px;
    padding: 8px;
    text-transform:uppercase;
}

.header span.nav.current-tab {
    opacity:1;

    background: rgb(34, 34, 34);
}

section {
    width: 85vw;
    padding-top: 160px;
    margin: 0 auto;
}

section#description {
    color:white;
    position: relative;
}

/* Description section */
section#description {
/*    width: 100%;
    height: 100%;*/
    
}

section#description .info {
    width:350px;
    position: relative;
    line-height: 1.6em;
    display:inline-block;
}

section#description .media {
    position: relative;
    display: inline-block;
    float:right;
}

h2.subheading-block {
    text-align: center;
    margin-bottom: 77px;
    display: block;
}

h2.subheading-block > span {
  font-family:'Montserrat';
  color: rgb(216, 209, 205);
  text-transform: uppercase;
  font-size: 24px; 
  background: rgb(111, 84, 136);
  padding: 16px;
  border-radius: 4px;
  border-bottom: 5px solid rgb(44, 37, 32);
}

h2.subheading-block.orange > span{
  background-color: rgb(214, 141, 75);
}

#controls {
  text-align: center;
}

#controls td {
    padding:10px;
}

#controls table {
    margin: 0 auto;
}
/*

section#description .info {
    width:400px;
    height:800px;
    position: relative;
    line-height: 1.6em;
    display:inline-block;
}

section#description .info.rigid-pane {
    position:fixed;
    top: 130px;
    left:70px;
}

section#description .media {
    width: 700px;
    height:600px;
    position: relative;
    background-color: white;
    display: inline-block;
    float:right;
}*/

section#downloads .row {
}

section#downloads .dl {
  text-align: center;
}

section#downloads .dl-icon {
  border-radius:300px;
  height: 200px;
  width: 200px;
  border: solid rgb(190, 116, 49) 10px;
  margin: 0 auto;
  background-color: rgba(29, 27, 26, 1);
  margin-top: 20px;
  display: table;
}

#downloads p {
  margin: 24px 0px;
  font-size: 18px;
  color: white;
}

#downloads .dl-button p {
  display: inline-block;
  font-weight: 200;
  color: rgb(253, 253, 253);
  padding: 14px 19px;
  border-radius: 4px;
  margin: 0;
  background: linear-gradient( rgb(45, 176, 56),rgb(52, 118, 72));
  font-size: 16px;
  font-family: Sans-serif;
}

#downloads .dl-button {
  text-align: right;
  background: linear-gradient(rgb(255,255,255),rgb(200,200,200));
  padding: 5px;
  border: 2px solid rgb(74, 73, 73);
  border-radius: 5px;
  display: inline-block;
}

#downloads .dl-button img {
  vertical-align: middle;
  height: 30px;
  width: 30px;
  margin: 0px 10px 0px 5px;
}

#downloads .dl-icon img {
  max-height: 95px;
  margin-top: 22%;
}

#downloads .dl-button span {
  color: rgb(184, 184, 184);
}

#people .item {
  height:auto;
  display: table;
  padding: 0px 0px 50px 0px;
}

#people .item > * {
  display: table-cell;
  vertical-align: middle;
  padding: 30px;
}

#people .item-icon {
  border-radius:300px;
  height: 180px;
  width: 180px;
  border: solid rgb(111, 84, 136) 10px;
  margin: 0 auto;
  background-color: rgba(29, 27, 26, 1);
  margin-top: 20px;
}

#people .item-meta > * {
    font-size: 18px;
}

#people .item-meta > p.role {
  font-style: italic;
}

#people .item-meta > .name {
  color: rgb(243, 238, 245);
}
