<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/splash.css">
        <link href="//fonts.googleapis.com/css?family=Open Sans:300,400,600" rel="stylesheet" type="text/css">

        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

        <!-- SEO needed. -->
        <title>Developers' Guild - Build software at De Anza College</title>
        <meta name="description" content="The Developers' Guild is a computer science club at De Anza College dedicated to creating awesome projects. Join today!" />

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-66934913-1', 'auto');
          ga('send', 'pageview');

        </script>
    </head>

    <body>

        <main class="landing fixed-background">
            <div class="container">
                <div class="landingcont">
                    <img class="logo img-responsive" src="img/dglogo.svg" alt="Developers' Guild logo">
                    <p class="lead">
                        <b>Developers' Guild</b> is <em>the</em>
                        community for programmers and graphic designers at De Anza College.
                    </p>
                    <p style="color: rgba(208,180,160,0.9); font-size: 18px; text-shadow: 0 1px 2px rgba(0,0,0,0.6);">
                        <span class="fa fa-clock-o"></span>
                        Fridays from 1:30–4:00 PM in ATC 311
                    </p>
                    <a href="/join" target="_blank" class="btn btn-lg btn-primary">
                        <span class="fa fa-lg fa-user"></span>
                        Sign Up
                    </a>
                    <a href="https://github.com/DevelopersGuild" target="_blank" class="btn btn-lg btn-default">
                        <span class="fa fa-lg fa-github"></span>
                        Our GitHub
                    </a>
                </div>
            </div>
        </main>

        <!--
        <section class="us">
            us.jpg

            Developers' Guild is a large computer science club.

            We build projects.
            Rather than congregate and discuss, we like to get dirty and practice the art.

            We'd love to meet you!
            Drop in anytime for a quick orientation.
        </section>
        -->

        <section class="past-projects">
            <p class="past-projects-title">Past Projects</p>

            <div class="container this-is-a-past-project-type">
                <p class="past-project-subtitle">iOS apps</p>
                <div class="col-md-6">
                    <p class="past-project-name">Team <em>Koob</em></p>
                    <img class="this-is-a-creation-image" src="/img/projects/1x1/Koob.png">
                        <!-- Team Koob saw the need to cut out the middle man in our lovely textbook selling and purchasing experience. They worked on an app that would allow students in the college to buy and sell textbooks much more easily and satisfactorily. -->
                    </img>
                </div>
                <div class="col-md-6 hidden-sm">
                    <p class="past-project-name">Team <em>Cosmic Ball</em></p>

                    <img class="this-is-a-creation-image" src="/img/projects/1x1/Cosmic Ball.jpg">
                        <!-- To be completed -->
                    </img>
                </div>
            </div>

            <div class="container this-is-a-past-project-type">
                <p class="past-project-subtitle" >Web</p>
                <div class="col-md-6">
                    <p class="past-project-name">Team <em>Daze</em></p>
                    <img class="this-is-a-creation-image" src="/img/projects/1x1/Daze.jpg">
                      <!-- Team Daze started out as two separate teams. One wanted an interactive map of the college where students can place pins representing points of interest on the campus; the other team wanted to have a path-finding feature so that students can easily navigate the campus. Both teams merged and a campus community app was under way. -->
                    </img>
                </div>
                <div class="col-md-6 hidden-sm">
                    <p class="past-project-name">Team <em>Developers' Guild Forums</em></p>
                    <img class="this-is-a-creation-image" src="/img/projects/1x1/Developers' Guild Forums.jpg">
                      <!-- Team DG Forums saw the need for more interaction between club members. The forums attempted to solve this by providing a social channel so that people could share their experiences and banter. This project allowed some of the members to explore web development, and gave some of the older members experience in mentorship. -->
                    </img>
                </div>
            </div>

            <div class="container this-is-a-past-project-type">
                <p class="past-project-subtitle">Games</p>
                <div class="col-md-6">
                    <p class="past-project-name">Team <em>Wraithkeeper's Tomb</em></p>
                    <img class="this-is-a-creation-image" src="/img/projects/1x1/Wraithkeeper's Tomb.jpg">
                      <!-- Wraithkeeper’s Tomb was a step up from simple games. After having worked on Flappy Bird, several club members took the challenge to make something a bit more grand. This game offers combat, and an elementary plot with a classic fantasy theme. -->
                    </img>
                </div>
                <div class="col-md-6 hidden-sm">
                    <p class="past-project-name">Team <em>Battleturf</em></p>
                    <img class="this-is-a-creation-image" src="/img/projects/1x1/Battleturf.png">
                      <!-- Inspired by classic puzzle games such as solitaire and checkers, Battleturf players strive to control the board, and capture and fortify different squares. This was the longest run project with development ongoing for a whole year. The tenacious Team Battleturf taught themselves networking, and continually improved upon the game to its completion. -->
                    </img>
                </div>
            </div>
        </section>

        <section>
            <div class="projects-title">
                <p>Guild Gatherings</p>
            </div>

            <div class="projects">
                <div id="owl-slider">
                  <div class="item">
                      <a data-lightbox="carousel" href="/img/people/Squad-original.jpg"><img src="/img/people/Squad.jpg"></a>
                  </div>
                  <div class="item">
                      <a data-lightbox="carousel" href="/img/people/volleyball.jpg"><img src="/img/people/volleyball.jpg"></a>
                  </div>
                  <div class="item">
                      <a data-lightbox="carousel" href="/img/people/whiteboard-original.jpg"><img src="/img/people/whiteboard.jpg"></a>
                  </div>
                  <div class="item">
                      <a data-lightbox="carousel" href="/img/people/everybody-original.jpg"><img src="/img/people/everybody.jpg"></a>
                  </div>
                  <div class="item">
                      <a data-lightbox="carousel" href="/img/people/chris-talking-original.jpg"><img src="/img/people/chris-talking.jpg"></a>
                  </div>
                  <div class="item">
                      <a data-lightbox="carousel" href="/img/people/halo-original.jpg"><img src="/img/people/halo.jpg"></a>
                  </div>
                  <div class="item">
                      <a data-lightbox="carousel" href="/img/people/chris-group-original.jpg"><img src="/img/people/chris-group.jpg"></a>
                  </div>
                  <div class="item">
                      <a data-lightbox="carousel" href="/img/people/everybody2-original.jpg"><img src="/img/people/everybody2.jpg"></a>
                  </div>
                  <div class="item">
                      <a data-lightbox="carousel" href="/img/people/hendry-group-original.jpg"><img src="/img/people/hendry-group.jpg"></a>
                  </div>
                  <div class="item">
                      <a data-lightbox="carousel" href="/img/people/johnny-group-original.jpg"><img src="/img/people/johnny-group.jpg"></a>
                  </div>
              </div>
              <span class="fa fa-arrow-circle-left nav-btn prev"></span>
              <span class="fa fa-arrow-circle-right nav-btn next"></span>
            </div>
        </section>

        <section class="FAQ-section">
            <p class="faq-title"> Frequently Asked Questions</p>
            <div class="container-fluid faq-container">
                <div class="col-md-6">
                    <div class="single_faq">
                        <p class="faq_q">Q: I don't have any programming experience. Can I still participate?</p>
                        <p class="faq_a">A: Yes. We have beginner groups and work hard to accomodate those who are just starting out.</p>
                    </div>
                    <div class="single_faq">
                        <p class="faq_q">Q: I don't have a laptop I can bring. Do you provide computers?</p>
                        <p class="faq_a">A: Yes. We meet in a room filled to the brim with PCs.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single_faq">
                        <p class="faq_q">Q: I can't attend the entire meeting because I will arrive late/leave early. Will that be a problem?</p>
                        <p class="faq_a">A: It depends on your team. Some teams are very flexible with this while others may have trouble with it. In general, we try hard to be supportive of everyone, despite your time constraints.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="ping-us">
            <div class="container">
                <div class="ping-us_title">
                    <p>Is there still something left unanswered? Send us a message!</p>
                </div>
                <div class="ping-us_email">
                    <p><a href="mailto:contact@developersguild.io">contact@developersguild.io</a></p>
                </div>
            </div>
        </section>

        <!-- <div id="modal">
            <div class="close-button">
                <a><img src="img/close-button.png" alt=""></a>
            </div>
            <form role="form" action="http://developersguild.us11.list-manage.com/subscribe/post?u=26049908465ea3b38124f0cb5&amp;id=622bc13d44" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div class="form-group">
                <div class="sign-up">
                    <h3>Sign up for our weekly updates!</h3>
                </div>
                <div class="email-textedit">
                    <input type="email" class="form-control" id="email" placeholder="Email Address"  type="email" value="" name="EMAIL" required>
                </div>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        -->
        <script src="/splash.js"></script>
    </body>

</html>
