<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/splash.css">
        <link href="//fonts.googleapis.com/css?family=Open Sans:300,400,600" rel="stylesheet" type="text/css">

        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

        <!-- SEO needed. -->
        <title>Developers' Guild - Build software at De Anza College</title>
        <meta name="description" content="The Developers' Guild is a computer science club at De Anza College dedicated to creating awesome projects. Join today!" />

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-66934913-1', 'auto');
          ga('send', 'pageview');

        </script>
    </head>

    <body>

        <main class="landing fixed-background">
            <div class="container">
                <div class="landingcont">
                    <img class="logo img-responsive" src="img/dglogo.svg" alt="Developers' Guild logo">
                    <p class="lead">
                        <b>Developers' Guild</b> is <em>the</em>
                        community for programmers and designers at De Anza College.
                    </p>
                    <p style="color: rgba(208,180,160,0.9); font-size: 18px; text-shadow: 0 1px 2px rgba(0,0,0,0.6);">
                        <span class="fa fa-clock-o"></span>
                        Fridays from 1:30–4:00 PM in ATC 311
                    </p>
                    <a href="/join" target="_blank" class="btn btn-lg btn-primary">
                        <span class="fa fa-lg fa-user"></span>
                        Sign Up
                    </a>
                    <a href="https://github.com/DevelopersGuild" target="_blank" class="btn btn-lg btn-default">
                        <span class="fa fa-lg fa-github"></span>
                        Our GitHub
                    </a>
                </div>
            </div>
        </main>

        <!--
        <section class="us">
            us.jpg

            Developers' Guild is a large computer science club.

            We build projects.
            Rather than congregate and discuss, we like to get dirty and practice the art.

            We'd love to meet you!
            Drop in anytime for a quick orientation.
        </section>
        -->

        <section class="past-projects">
            <p class="past-projects-title">Past Projects</p>

            <div class="container this-is-a-past-project-type">
                <p class="past-project-subtitle">iOS apps</p>
                <div class="col-md-6">
                    <p class="past-project-name">Koob</p>
                    <img class="this-is-a-creation-image" src="/img/projects/1x1/Koob.png">
                        <!-- Hover text: description of Koob -->
                    </img>
                </div>
                <div class="col-md-6 hidden-sm">
                    <p class="past-project-name">Cosmic Ball</p>

                    <img class="this-is-a-creation-image" src="/img/projects/1x1/Cosmic Ball.jpg">
                        <!-- Hover text: description of Cosmic Ball -->
                    </img>
                </div>
            </div>

            <div class="container this-is-a-past-project-type">
                <p class="past-project-subtitle" >Web</p>
                <div class="col-md-6">
                    <p class="past-project-name">Daze</p>
                    <img class="this-is-a-creation-image" src="/img/projects/1x1/Daze.jpg"></img>
                </div>
                <div class="col-md-6 hidden-sm">
                    <p class="past-project-name">Developers' Guild Forums</p>
                    <img class="this-is-a-creation-image" src="/img/projects/1x1/Developers' Guild Forums.jpg"></img>
                </div>
            </div>

            <div class="container this-is-a-past-project-type">
                <p class="past-project-subtitle">Games</p>
                <div class="col-md-6">
                    <p class="past-project-name">Wraithkeeper's Tomb</p>
                    <img class="this-is-a-creation-image" src="/img/projects/1x1/Wraithkeeper's Tomb.jpg"></img>
                </div>
                <div class="col-md-6 hidden-sm">
                    <p class="past-project-name">Battleturf</p>
                    <img class="this-is-a-creation-image" src="/img/projects/1x1/Battleturf.png"></img>
                </div>
            </div>
        </section>

        <section>
            <div class="projects-title">
                <p>Guild Gatherings</p>
            </div>

            <div class="projects">
                <div id="owl-slider">
                  <div class="item">
                      <img src="/img/people/Squad.jpg">
                  </div>
                  <div class="item">
                      <img src="/img/people/volleyball.jpg">
                  </div>
                  <div class="item">
                      <img src="/img/people/whiteboard.jpg">
                  </div>
                  <div class="item">
                      <img src="/img/people/everybody.jpg">
                  </div>
                  <div class="item">
                      <img src="/img/people/chris-talking.jpg">
                  </div>
                  <div class="item">
                      <img src="/img/people/halo.jpg">
                  </div>
                  <div class="item">
                      <img src="/img/people/chris-group.jpg">
                  </div>
                  <div class="item">
                      <img src="/img/people/everybody2.jpg">
                  </div>
                  <div class="item">
                      <img src="/img/people/hendry-group.jpg">
                  </div>
                  <div class="item">
                      <img src="/img/people/johnny-group.jpg">
                  </div>
                  
              </div>
              <span class="fa fa-arrow-circle-left nav-btn prev"></span>
              <span class="fa fa-arrow-circle-right nav-btn next"></span>
            </div>
        </section>

        <section class="FAQ-section">
            <p class="faq-title"> Frequently Asked Questions</p>
            <div class="container-fluid faq-container">
                <div class="col-md-6">
                    <div class="single_faq">
                        <p class="faq_q">Q: I don't have any programming experience. Can I still participate?</p>
                        <p class="faq_a">A: Yes. We have beginner groups and work hard to accomodate those who are just starting out.</p>
                    </div>
                    <div class="single_faq">
                        <p class="faq_q">Q: I don't have a laptop I can bring. Do you provide computers?</p>
                        <p class="faq_a">A: Yes. We meet in a room filled to the brim with PCs.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single_faq">
                        <p class="faq_q">Q: I can't attend the entire meeting because I will arrive late/leave early. Will that be a problem?</p>
                        <p class="faq_a">A: It depends on your team. Some teams are very flexible with this while others may have trouble with it. In general, we try hard to be supportive of everyone, despite your time constraints.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="ping-us">
            <div class="container">
                <div class="ping-us_title">
                    <p>Message us!</p>
                </div>
                <div class="ping-us_email">
                    <p><a href="mailto:contact@developersguild.io">contact@developersguild.io</a></p>
                </div>
            </div>
        </section>

        <!-- <div id="modal">
            <div class="close-button">
                <a><img src="img/close-button.png" alt=""></a>
            </div>
            <form role="form" action="http://developersguild.us11.list-manage.com/subscribe/post?u=26049908465ea3b38124f0cb5&amp;id=622bc13d44" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div class="form-group">
                <div class="sign-up">
                    <h3>Sign up for our weekly updates!</h3>
                </div>
                <div class="email-textedit">
                    <input type="email" class="form-control" id="email" placeholder="Email Address"  type="email" value="" name="EMAIL" required>
                </div>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        -->
        <script src="/splash.js"></script>
    </body>

</html>
